.git
.github
.gitlab-ci.yml
.ci-docker-*
.next
.source
node_modules
out
out-private
.local-pages
close-api-content
private
content/close-api/*
!content/close-api/meta.json
src/app/[lang]/close-api-export
.env*
*.log
*.tsbuildinfo
deploy
